.theme-light,
.theme-dark {
    --text-italic: var(--tx2);
}

.cm-s-obsidian .cm-em,
em {
    font-style: normal;
}

.markdown-source-view.mod-cm6 .HyperMD-codeblock-begin {
    padding-top: 8px;
}

.cm-formatting.cm-formatting-task.cm-property {
    font-size: unset;
}